@charset "UTF-8";

/* 共通部分 */
body {
  font-family: 'Noto Sans JP', sans-serif;
}





.page-header {
  font-size: larger;
}
.sample-box {
  position: relative;
}
.main-comment1 {
  display: flex;
  justify-content: center;
}



/* カード */
.card-a {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}
.card {
	width: 30%;
	height: 300px;
	background-color: rgb(175, 172, 172);
}